.App {
  text-align: center;
}

.App-header {
  background-color: #5e6472;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding-top: 3rem;
  font-size: calc(10px + 2vmin);
  color: white;
}

.calculator-bg {
  height: 100vh;
}

.calculator {
  border: none;
  font-size: 2rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  box-shadow: 10px 10px 108px -42px rgba(0, 0, 0, 0.75);
}

.calculator-screen {
  width: 94%;
  font-size: 2.5rem;
  height: 80px;
  border: none;
  background-color: #252525;
  color: #fff;
  text-align: right;
  padding-right: 20px;
  padding-left: 10px;
}

button {
  outline: none;
  font-size: 2rem;
  height: 80px;
  background: #e9d6d6;
  border: 1px solid #a8a6a6;
  color: black;
}

button:hover {
  background: #e5e7e9;
  cursor: pointer;
}

.operator {
  color: black;
  background: #f8b954;
}

.operator:hover {
  background: #f5c77d;
}

.clear {
  background: #f17377;
  border: none;
  color: #fff;
  grid-column: 1 / span 2;
}

.clear:hover {
  background: #ff878b;
}

.equal-sign {
  background: #4e9ed4;
  border: none;
  color: #fff;
  height: 100%;
  grid-area: 1 / 4;
  grid-column: 3 / span 2;
  /* grid-column: 3 / span 2; */
}

.equal-sign:hover {
  background: #79b8e2;
}

.calculator-keys {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 0px;
  padding: 0px;
  background: white;
}

#multiply {
  grid-area: 2 / 1;
}

#add {
  grid-area: 2/2;
}

#subtract {
  grid-area: 2 / 3;
}

#exponential {
  grid-area: 5 / 4;
}

#sqrt {
  grid-area: 6 / 4;
}

#decimal {
  grid-area: 6 / 1;
}

#open {
  grid-area: 3 / 4;
}

#close {
  grid-area: 4 / 4;
}
